.icon-22 {
    background-image: url(tango-32.png);
    background-repeat: no-repeat;
    padding-left: 40px;
}

.icon-32-accessories-calculator{ background-position: 0 0;  }
.icon-32-accessories-character-map{ background-position: 0 -64px;  }
.icon-32-accessories-text-editor{ background-position: 0 -128px;  }
.icon-32-address-book-new{ background-position: 0 -192px;  }
.icon-32-application-certificate{ background-position: 0 -256px;  }
.icon-32-application-x-executable{ background-position: 0 -320px;  }
.icon-32-applications-accessories{ background-position: 0 -384px;  }
.icon-32-applications-development{ background-position: 0 -448px;  }
.icon-32-applications-games{ background-position: 0 -512px;  }
.icon-32-applications-graphics{ background-position: 0 -576px;  }
.icon-32-applications-internet{ background-position: 0 -640px;  }
.icon-32-applications-multimedia{ background-position: 0 -704px;  }
.icon-32-applications-office{ background-position: 0 -768px;  }
.icon-32-applications-other{ background-position: 0 -832px;  }
.icon-32-applications-system{ background-position: 0 -896px;  }
.icon-32-appointment-new{ background-position: 0 -960px;  }
.icon-32-audio-card{ background-position: 0 -1024px;  }
.icon-32-audio-input-microphone{ background-position: 0 -1088px;  }
.icon-32-audio-volume-high{ background-position: 0 -1152px;  }
.icon-32-audio-volume-low{ background-position: 0 -1216px;  }
.icon-32-audio-volume-medium{ background-position: 0 -1280px;  }
.icon-32-audio-volume-muted{ background-position: 0 -1344px;  }
.icon-32-audio-x-generic{ background-position: 0 -1408px;  }
.icon-32-battery-caution{ background-position: 0 -1472px;  }
.icon-32-battery{ background-position: 0 -1536px;  }
.icon-32-bookmark-new{ background-position: 0 -1600px;  }
.icon-32-camera-photo{ background-position: 0 -1664px;  }
.icon-32-camera-video{ background-position: 0 -1728px;  }
.icon-32-computer{ background-position: 0 -1792px;  }
.icon-32-contact-new{ background-position: 0 -1856px;  }
.icon-32-dialog-error{ background-position: 0 -1920px;  }
.icon-32-dialog-information{ background-position: 0 -1984px;  }
.icon-32-dialog-warning{ background-position: 0 -2048px;  }
.icon-32-document-new{ background-position: 0 -2112px;  }
.icon-32-document-open{ background-position: 0 -2176px;  }
.icon-32-document-print-preview{ background-position: 0 -2240px;  }
.icon-32-document-print{ background-position: 0 -2304px;  }
.icon-32-document-properties{ background-position: 0 -2368px;  }
.icon-32-document-save-as{ background-position: 0 -2432px;  }
.icon-32-document-save{ background-position: 0 -2496px;  }
.icon-32-drive-harddisk{ background-position: 0 -2560px;  }
.icon-32-drive-optical{ background-position: 0 -2624px;  }
.icon-32-drive-removable-media{ background-position: 0 -2688px;  }
.icon-32-edit-clear{ background-position: 0 -2752px;  }
.icon-32-edit-copy{ background-position: 0 -2816px;  }
.icon-32-edit-cut{ background-position: 0 -2880px;  }
.icon-32-edit-delete{ background-position: 0 -2944px;  }
.icon-32-edit-find-replace{ background-position: 0 -3008px;  }
.icon-32-edit-find{ background-position: 0 -3072px;  }
.icon-32-edit-paste{ background-position: 0 -3136px;  }
.icon-32-edit-redo{ background-position: 0 -3200px;  }
.icon-32-edit-select-all{ background-position: 0 -3264px;  }
.icon-32-edit-undo{ background-position: 0 -3328px;  }
.icon-32-emblem-favorite{ background-position: 0 -3392px;  }
.icon-32-emblem-important{ background-position: 0 -3456px;  }
.icon-32-emblem-photos{ background-position: 0 -3520px;  }
.icon-32-emblem-readonly{ background-position: 0 -3584px;  }
.icon-32-emblem-symbolic-link{ background-position: 0 -3648px;  }
.icon-32-emblem-system{ background-position: 0 -3712px;  }
.icon-32-emblem-unreadable{ background-position: 0 -3776px;  }
.icon-32-face-angel{ background-position: 0 -3840px;  }
.icon-32-face-crying{ background-position: 0 -3904px;  }
.icon-32-face-devilish{ background-position: 0 -3968px;  }
.icon-32-face-glasses{ background-position: 0 -4032px;  }
.icon-32-face-grin{ background-position: 0 -4096px;  }
.icon-32-face-kiss{ background-position: 0 -4160px;  }
.icon-32-face-monkey{ background-position: 0 -4224px;  }
.icon-32-face-plain{ background-position: 0 -4288px;  }
.icon-32-face-sad{ background-position: 0 -4352px;  }
.icon-32-face-smile-big{ background-position: 0 -4416px;  }
.icon-32-face-smile{ background-position: 0 -4480px;  }
.icon-32-face-surprise{ background-position: 0 -4544px;  }
.icon-32-face-wink{ background-position: 0 -4608px;  }
.icon-32-folder-drag-accept{ background-position: 0 -4672px;  }
.icon-32-folder-new{ background-position: 0 -4736px;  }
.icon-32-folder-open{ background-position: 0 -4800px;  }
.icon-32-folder-remote{ background-position: 0 -4864px;  }
.icon-32-folder-saved-search{ background-position: 0 -4928px;  }
.icon-32-folder-visiting{ background-position: 0 -4992px;  }
.icon-32-folder{ background-position: 0 -5056px;  }
.icon-32-font-x-generic{ background-position: 0 -5120px;  }
.icon-32-format-indent-less{ background-position: 0 -5184px;  }
.icon-32-format-indent-more{ background-position: 0 -5248px;  }
.icon-32-format-justify-center{ background-position: 0 -5312px;  }
.icon-32-format-justify-fill{ background-position: 0 -5376px;  }
.icon-32-format-justify-left{ background-position: 0 -5440px;  }
.icon-32-format-justify-right{ background-position: 0 -5504px;  }
.icon-32-format-text-bold{ background-position: 0 -5568px;  }
.icon-32-format-text-italic{ background-position: 0 -5632px;  }
.icon-32-format-text-strikethrough{ background-position: 0 -5696px;  }
.icon-32-format-text-underline{ background-position: 0 -5760px;  }
.icon-32-go-bottom{ background-position: 0 -5824px;  }
.icon-32-go-down{ background-position: 0 -5888px;  }
.icon-32-go-first{ background-position: 0 -5952px;  }
.icon-32-go-home{ background-position: 0 -6016px;  }
.icon-32-go-jump{ background-position: 0 -6080px;  }
.icon-32-go-last{ background-position: 0 -6144px;  }
.icon-32-go-next{ background-position: 0 -6208px;  }
.icon-32-go-previous{ background-position: 0 -6272px;  }
.icon-32-go-top{ background-position: 0 -6336px;  }
.icon-32-go-up{ background-position: 0 -6400px;  }
.icon-32-help-browser{ background-position: 0 -6464px;  }
.icon-32-image-loading{ background-position: 0 -6528px;  }
.icon-32-image-missing{ background-position: 0 -6592px;  }
.icon-32-image-x-generic{ background-position: 0 -6656px;  }
.icon-32-input-gaming{ background-position: 0 -6720px;  }
.icon-32-input-keyboard{ background-position: 0 -6784px;  }
.icon-32-input-mouse{ background-position: 0 -6848px;  }
.icon-32-internet-group-chat{ background-position: 0 -6912px;  }
.icon-32-internet-mail{ background-position: 0 -6976px;  }
.icon-32-internet-news-reader{ background-position: 0 -7040px;  }
.icon-32-internet-web-browser{ background-position: 0 -7104px;  }
.icon-32-list-add{ background-position: 0 -7168px;  }
.icon-32-list-remove{ background-position: 0 -7232px;  }
.icon-32-mail-attachment{ background-position: 0 -7296px;  }
.icon-32-mail-forward{ background-position: 0 -7360px;  }
.icon-32-mail-mark-junk{ background-position: 0 -7424px;  }
.icon-32-mail-mark-not-junk{ background-position: 0 -7488px;  }
.icon-32-mail-message-new{ background-position: 0 -7552px;  }
.icon-32-mail-reply-all{ background-position: 0 -7616px;  }
.icon-32-mail-reply-sender{ background-position: 0 -7680px;  }
.icon-32-mail-send-receive{ background-position: 0 -7744px;  }
.icon-32-media-eject{ background-position: 0 -7808px;  }
.icon-32-media-flash{ background-position: 0 -7872px;  }
.icon-32-media-floppy{ background-position: 0 -7936px;  }
.icon-32-media-optical{ background-position: 0 -8000px;  }
.icon-32-media-playback-pause{ background-position: 0 -8064px;  }
.icon-32-media-playback-start{ background-position: 0 -8128px;  }
.icon-32-media-playback-stop{ background-position: 0 -8192px;  }
.icon-32-media-record{ background-position: 0 -8256px;  }
.icon-32-media-seek-backward{ background-position: 0 -8320px;  }
.icon-32-media-seek-forward{ background-position: 0 -8384px;  }
.icon-32-media-skip-backward{ background-position: 0 -8448px;  }
.icon-32-media-skip-forward{ background-position: 0 -8512px;  }
.icon-32-multimedia-player{ background-position: 0 -8576px;  }
.icon-32-network-error{ background-position: 0 -8640px;  }
.icon-32-network-idle{ background-position: 0 -8704px;  }
.icon-32-network-offline{ background-position: 0 -8768px;  }
.icon-32-network-receive{ background-position: 0 -8832px;  }
.icon-32-network-server{ background-position: 0 -8896px;  }
.icon-32-network-transmit-receive{ background-position: 0 -8960px;  }
.icon-32-network-transmit{ background-position: 0 -9024px;  }
.icon-32-network-wired{ background-position: 0 -9088px;  }
.icon-32-network-wireless-encrypted{ background-position: 0 -9152px;  }
.icon-32-network-wireless{ background-position: 0 -9216px;  }
.icon-32-network-workgroup{ background-position: 0 -9280px;  }
.icon-32-office-calendar{ background-position: 0 -9344px;  }
.icon-32-package-x-generic{ background-position: 0 -9408px;  }
.icon-32-preferences-desktop-accessibility{ background-position: 0 -9472px;  }
.icon-32-preferences-desktop-assistive-technology{ background-position: 0 -9536px;  }
.icon-32-preferences-desktop-font{ background-position: 0 -9600px;  }
.icon-32-preferences-desktop-keyboard-shortcuts{ background-position: 0 -9664px;  }
.icon-32-preferences-desktop-locale{ background-position: 0 -9728px;  }
.icon-32-preferences-desktop-multimedia{ background-position: 0 -9792px;  }
.icon-32-preferences-desktop-peripherals{ background-position: 0 -9856px;  }
.icon-32-preferences-desktop-remote-desktop{ background-position: 0 -9920px;  }
.icon-32-preferences-desktop-screensaver{ background-position: 0 -9984px;  }
.icon-32-preferences-desktop-theme{ background-position: 0 -10048px;  }
.icon-32-preferences-desktop-wallpaper{ background-position: 0 -10112px;  }
.icon-32-preferences-desktop{ background-position: 0 -10176px;  }
.icon-32-preferences-system-network-proxy{ background-position: 0 -10240px;  }
.icon-32-preferences-system-session{ background-position: 0 -10304px;  }
.icon-32-preferences-system-windows{ background-position: 0 -10368px;  }
.icon-32-preferences-system{ background-position: 0 -10432px;  }
.icon-32-printer-error{ background-position: 0 -10496px;  }
.icon-32-printer{ background-position: 0 -10560px;  }
.icon-32-process-stop{ background-position: 0 -10624px;  }
.icon-32-software-update-available{ background-position: 0 -10688px;  }
.icon-32-software-update-urgent{ background-position: 0 -10752px;  }
.icon-32-start-here{ background-position: 0 -10816px;  }
.icon-32-system-file-manager{ background-position: 0 -10880px;  }
.icon-32-system-installer{ background-position: 0 -10944px;  }
.icon-32-system-lock-screen{ background-position: 0 -11008px;  }
.icon-32-system-log-out{ background-position: 0 -11072px;  }
.icon-32-system-search{ background-position: 0 -11136px;  }
.icon-32-system-shutdown{ background-position: 0 -11200px;  }
.icon-32-system-software-update{ background-position: 0 -11264px;  }
.icon-32-system-users{ background-position: 0 -11328px;  }
.icon-32-tab-new{ background-position: 0 -11392px;  }
.icon-32-text-html{ background-position: 0 -11456px;  }
.icon-32-text-x-generic-template{ background-position: 0 -11520px;  }
.icon-32-text-x-generic{ background-position: 0 -11584px;  }
.icon-32-text-x-script{ background-position: 0 -11648px;  }
.icon-32-user-desktop{ background-position: 0 -11712px;  }
.icon-32-user-home{ background-position: 0 -11776px;  }
.icon-32-user-trash-full{ background-position: 0 -11840px;  }
.icon-32-user-trash{ background-position: 0 -11904px;  }
.icon-32-utilities-system-monitor{ background-position: 0 -11968px;  }
.icon-32-utilities-terminal{ background-position: 0 -12032px;  }
.icon-32-video-display{ background-position: 0 -12096px;  }
.icon-32-video-x-generic{ background-position: 0 -12160px;  }
.icon-32-view-fullscreen{ background-position: 0 -12224px;  }
.icon-32-view-refresh{ background-position: 0 -12288px;  }
.icon-32-weather-clear-night{ background-position: 0 -12352px;  }
.icon-32-weather-clear{ background-position: 0 -12416px;  }
.icon-32-weather-few-clouds-night{ background-position: 0 -12480px;  }
.icon-32-weather-few-clouds{ background-position: 0 -12544px;  }
.icon-32-weather-overcast{ background-position: 0 -12608px;  }
.icon-32-weather-severe-alert{ background-position: 0 -12672px;  }
.icon-32-weather-showers-scattered{ background-position: 0 -12736px;  }
.icon-32-weather-showers{ background-position: 0 -12800px;  }
.icon-32-weather-snow{ background-position: 0 -12864px;  }
.icon-32-weather-storm{ background-position: 0 -12928px;  }
.icon-32-window-new{ background-position: 0 -12992px;  }
.icon-32-x-office-address-book{ background-position: 0 -13056px;  }
.icon-32-x-office-calendar{ background-position: 0 -13120px;  }
.icon-32-x-office-document-template{ background-position: 0 -13184px;  }
.icon-32-x-office-document{ background-position: 0 -13248px;  }
.icon-32-x-office-drawing-template{ background-position: 0 -13312px;  }
.icon-32-x-office-drawing{ background-position: 0 -13376px;  }
.icon-32-x-office-presentation-template{ background-position: 0 -13440px;  }
.icon-32-x-office-presentation{ background-position: 0 -13504px;  }
.icon-32-x-office-spreadsheet-template{ background-position: 0 -13568px;  }
.icon-32-x-office-spreadsheet{ background-position: 0 -13632px;  }
