.icon-16 {
    background-image: url(tango-16.png);
    background-repeat: no-repeat;
    padding-left: 22px;
}

.icon-16-accessories-calculator{ background-position: 0 0;  }
.icon-16-accessories-character-map{ background-position: 0 -41px;  }
.icon-16-accessories-text-editor{ background-position: 0 -82px;  }
.icon-16-address-book-new{ background-position: 0 -123px;  }
.icon-16-application-certificate{ background-position: 0 -164px;  }
.icon-16-application-x-executable{ background-position: 0 -205px;  }
.icon-16-applications-accessories{ background-position: 0 -246px;  }
.icon-16-applications-development{ background-position: 0 -287px;  }
.icon-16-applications-games{ background-position: 0 -328px;  }
.icon-16-applications-graphics{ background-position: 0 -369px;  }
.icon-16-applications-internet{ background-position: 0 -410px;  }
.icon-16-applications-multimedia{ background-position: 0 -451px;  }
.icon-16-applications-office{ background-position: 0 -492px;  }
.icon-16-applications-other{ background-position: 0 -533px;  }
.icon-16-applications-system{ background-position: 0 -574px;  }
.icon-16-appointment-new{ background-position: 0 -615px;  }
.icon-16-audio-card{ background-position: 0 -656px;  }
.icon-16-audio-input-microphone{ background-position: 0 -697px;  }
.icon-16-audio-volume-high{ background-position: 0 -738px;  }
.icon-16-audio-volume-low{ background-position: 0 -779px;  }
.icon-16-audio-volume-medium{ background-position: 0 -820px;  }
.icon-16-audio-volume-muted{ background-position: 0 -861px;  }
.icon-16-audio-x-generic{ background-position: 0 -902px;  }
.icon-16-battery-caution{ background-position: 0 -943px;  }
.icon-16-battery{ background-position: 0 -984px;  }
.icon-16-bookmark-new{ background-position: 0 -1025px;  }
.icon-16-camera-photo{ background-position: 0 -1066px;  }
.icon-16-camera-video{ background-position: 0 -1107px;  }
.icon-16-computer{ background-position: 0 -1148px;  }
.icon-16-contact-new{ background-position: 0 -1189px;  }
.icon-16-dialog-error{ background-position: 0 -1230px;  }
.icon-16-dialog-information{ background-position: 0 -1271px;  }
.icon-16-dialog-warning{ background-position: 0 -1312px;  }
.icon-16-document-new{ background-position: 0 -1353px;  }
.icon-16-document-open{ background-position: 0 -1394px;  }
.icon-16-document-print-preview{ background-position: 0 -1435px;  }
.icon-16-document-print{ background-position: 0 -1476px;  }
.icon-16-document-properties{ background-position: 0 -1517px;  }
.icon-16-document-save-as{ background-position: 0 -1558px;  }
.icon-16-document-save{ background-position: 0 -1599px;  }
.icon-16-drive-harddisk{ background-position: 0 -1640px;  }
.icon-16-drive-optical{ background-position: 0 -1681px;  }
.icon-16-drive-removable-media{ background-position: 0 -1722px;  }
.icon-16-edit-clear{ background-position: 0 -1763px;  }
.icon-16-edit-copy{ background-position: 0 -1804px;  }
.icon-16-edit-cut{ background-position: 0 -1845px;  }
.icon-16-edit-delete{ background-position: 0 -1886px;  }
.icon-16-edit-find-replace{ background-position: 0 -1927px;  }
.icon-16-edit-find{ background-position: 0 -1968px;  }
.icon-16-edit-paste{ background-position: 0 -2009px;  }
.icon-16-edit-redo{ background-position: 0 -2050px;  }
.icon-16-edit-select-all{ background-position: 0 -2091px;  }
.icon-16-edit-undo{ background-position: 0 -2132px;  }
.icon-16-emblem-favorite{ background-position: 0 -2173px;  }
.icon-16-emblem-important{ background-position: 0 -2214px;  }
.icon-16-emblem-photos{ background-position: 0 -2255px;  }
.icon-16-emblem-readonly{ background-position: 0 -2296px;  }
.icon-16-emblem-symbolic-link{ background-position: 0 -2337px;  }
.icon-16-emblem-system{ background-position: 0 -2378px;  }
.icon-16-emblem-unreadable{ background-position: 0 -2419px;  }
.icon-16-face-angel{ background-position: 0 -2460px;  }
.icon-16-face-crying{ background-position: 0 -2501px;  }
.icon-16-face-devilish{ background-position: 0 -2542px;  }
.icon-16-face-glasses{ background-position: 0 -2583px;  }
.icon-16-face-grin{ background-position: 0 -2624px;  }
.icon-16-face-kiss{ background-position: 0 -2665px;  }
.icon-16-face-monkey{ background-position: 0 -2706px;  }
.icon-16-face-plain{ background-position: 0 -2747px;  }
.icon-16-face-sad{ background-position: 0 -2788px;  }
.icon-16-face-smile-big{ background-position: 0 -2829px;  }
.icon-16-face-smile{ background-position: 0 -2870px;  }
.icon-16-face-surprise{ background-position: 0 -2911px;  }
.icon-16-face-wink{ background-position: 0 -2952px;  }
.icon-16-folder-drag-accept{ background-position: 0 -2993px;  }
.icon-16-folder-new{ background-position: 0 -3034px;  }
.icon-16-folder-open{ background-position: 0 -3075px;  }
.icon-16-folder-remote{ background-position: 0 -3116px;  }
.icon-16-folder-saved-search{ background-position: 0 -3157px;  }
.icon-16-folder-visiting{ background-position: 0 -3198px;  }
.icon-16-folder{ background-position: 0 -3239px;  }
.icon-16-font-x-generic{ background-position: 0 -3280px;  }
.icon-16-format-indent-less{ background-position: 0 -3321px;  }
.icon-16-format-indent-more{ background-position: 0 -3362px;  }
.icon-16-format-justify-center{ background-position: 0 -3403px;  }
.icon-16-format-justify-fill{ background-position: 0 -3444px;  }
.icon-16-format-justify-left{ background-position: 0 -3485px;  }
.icon-16-format-justify-right{ background-position: 0 -3526px;  }
.icon-16-format-text-bold{ background-position: 0 -3567px;  }
.icon-16-format-text-italic{ background-position: 0 -3608px;  }
.icon-16-format-text-strikethrough{ background-position: 0 -3649px;  }
.icon-16-format-text-underline{ background-position: 0 -3690px;  }
.icon-16-go-bottom{ background-position: 0 -3731px;  }
.icon-16-go-down{ background-position: 0 -3772px;  }
.icon-16-go-first{ background-position: 0 -3813px;  }
.icon-16-go-home{ background-position: 0 -3854px;  }
.icon-16-go-jump{ background-position: 0 -3895px;  }
.icon-16-go-last{ background-position: 0 -3936px;  }
.icon-16-go-next{ background-position: 0 -3977px;  }
.icon-16-go-previous{ background-position: 0 -4018px;  }
.icon-16-go-top{ background-position: 0 -4059px;  }
.icon-16-go-up{ background-position: 0 -4100px;  }
.icon-16-help-browser{ background-position: 0 -4141px;  }
.icon-16-image-loading{ background-position: 0 -4182px;  }
.icon-16-image-missing{ background-position: 0 -4223px;  }
.icon-16-image-x-generic{ background-position: 0 -4264px;  }
.icon-16-input-gaming{ background-position: 0 -4305px;  }
.icon-16-input-keyboard{ background-position: 0 -4346px;  }
.icon-16-input-mouse{ background-position: 0 -4387px;  }
.icon-16-internet-group-chat{ background-position: 0 -4428px;  }
.icon-16-internet-mail{ background-position: 0 -4469px;  }
.icon-16-internet-news-reader{ background-position: 0 -4510px;  }
.icon-16-internet-web-browser{ background-position: 0 -4551px;  }
.icon-16-list-add{ background-position: 0 -4592px;  }
.icon-16-list-remove{ background-position: 0 -4633px;  }
.icon-16-mail-attachment{ background-position: 0 -4674px;  }
.icon-16-mail-forward{ background-position: 0 -4715px;  }
.icon-16-mail-mark-junk{ background-position: 0 -4756px;  }
.icon-16-mail-mark-not-junk{ background-position: 0 -4797px;  }
.icon-16-mail-message-new{ background-position: 0 -4838px;  }
.icon-16-mail-reply-all{ background-position: 0 -4879px;  }
.icon-16-mail-reply-sender{ background-position: 0 -4920px;  }
.icon-16-mail-send-receive{ background-position: 0 -4961px;  }
.icon-16-media-eject{ background-position: 0 -5002px;  }
.icon-16-media-flash{ background-position: 0 -5043px;  }
.icon-16-media-floppy{ background-position: 0 -5084px;  }
.icon-16-media-optical{ background-position: 0 -5125px;  }
.icon-16-media-playback-pause{ background-position: 0 -5166px;  }
.icon-16-media-playback-start{ background-position: 0 -5207px;  }
.icon-16-media-playback-stop{ background-position: 0 -5248px;  }
.icon-16-media-record{ background-position: 0 -5289px;  }
.icon-16-media-seek-backward{ background-position: 0 -5330px;  }
.icon-16-media-seek-forward{ background-position: 0 -5371px;  }
.icon-16-media-skip-backward{ background-position: 0 -5412px;  }
.icon-16-media-skip-forward{ background-position: 0 -5453px;  }
.icon-16-multimedia-player{ background-position: 0 -5494px;  }
.icon-16-network-error{ background-position: 0 -5535px;  }
.icon-16-network-idle{ background-position: 0 -5576px;  }
.icon-16-network-offline{ background-position: 0 -5617px;  }
.icon-16-network-receive{ background-position: 0 -5658px;  }
.icon-16-network-server{ background-position: 0 -5699px;  }
.icon-16-network-transmit-receive{ background-position: 0 -5740px;  }
.icon-16-network-transmit{ background-position: 0 -5781px;  }
.icon-16-network-wired{ background-position: 0 -5822px;  }
.icon-16-network-wireless-encrypted{ background-position: 0 -5863px;  }
.icon-16-network-wireless{ background-position: 0 -5904px;  }
.icon-16-network-workgroup{ background-position: 0 -5945px;  }
.icon-16-office-calendar{ background-position: 0 -5986px;  }
.icon-16-package-x-generic{ background-position: 0 -6027px;  }
.icon-16-preferences-desktop-accessibility{ background-position: 0 -6068px;  }
.icon-16-preferences-desktop-assistive-technology{ background-position: 0 -6109px;  }
.icon-16-preferences-desktop-font{ background-position: 0 -6150px;  }
.icon-16-preferences-desktop-keyboard-shortcuts{ background-position: 0 -6191px;  }
.icon-16-preferences-desktop-locale{ background-position: 0 -6232px;  }
.icon-16-preferences-desktop-multimedia{ background-position: 0 -6273px;  }
.icon-16-preferences-desktop-peripherals{ background-position: 0 -6314px;  }
.icon-16-preferences-desktop-remote-desktop{ background-position: 0 -6355px;  }
.icon-16-preferences-desktop-screensaver{ background-position: 0 -6396px;  }
.icon-16-preferences-desktop-theme{ background-position: 0 -6437px;  }
.icon-16-preferences-desktop-wallpaper{ background-position: 0 -6478px;  }
.icon-16-preferences-desktop{ background-position: 0 -6519px;  }
.icon-16-preferences-system-network-proxy{ background-position: 0 -6560px;  }
.icon-16-preferences-system-session{ background-position: 0 -6601px;  }
.icon-16-preferences-system-windows{ background-position: 0 -6642px;  }
.icon-16-preferences-system{ background-position: 0 -6683px;  }
.icon-16-printer-error{ background-position: 0 -6724px;  }
.icon-16-printer{ background-position: 0 -6765px;  }
.icon-16-process-stop{ background-position: 0 -6806px;  }
.icon-16-process-working{ background-position: 0 -6847px;  }
.icon-16-software-update-available{ background-position: 0 -6936px;  }
.icon-16-software-update-urgent{ background-position: 0 -6977px;  }
.icon-16-start-here{ background-position: 0 -7018px;  }
.icon-16-system-file-manager{ background-position: 0 -7059px;  }
.icon-16-system-installer{ background-position: 0 -7100px;  }
.icon-16-system-lock-screen{ background-position: 0 -7141px;  }
.icon-16-system-log-out{ background-position: 0 -7182px;  }
.icon-16-system-search{ background-position: 0 -7223px;  }
.icon-16-system-shutdown{ background-position: 0 -7264px;  }
.icon-16-system-software-update{ background-position: 0 -7305px;  }
.icon-16-system-users{ background-position: 0 -7346px;  }
.icon-16-tab-new{ background-position: 0 -7387px;  }
.icon-16-text-html{ background-position: 0 -7428px;  }
.icon-16-text-x-generic-template{ background-position: 0 -7469px;  }
.icon-16-text-x-generic{ background-position: 0 -7510px;  }
.icon-16-text-x-script{ background-position: 0 -7551px;  }
.icon-16-user-desktop{ background-position: 0 -7592px;  }
.icon-16-user-home{ background-position: 0 -7633px;  }
.icon-16-user-trash-full{ background-position: 0 -7674px;  }
.icon-16-user-trash{ background-position: 0 -7715px;  }
.icon-16-utilities-system-monitor{ background-position: 0 -7756px;  }
.icon-16-utilities-terminal{ background-position: 0 -7797px;  }
.icon-16-video-display{ background-position: 0 -7838px;  }
.icon-16-video-x-generic{ background-position: 0 -7879px;  }
.icon-16-view-fullscreen{ background-position: 0 -7920px;  }
.icon-16-view-refresh{ background-position: 0 -7961px;  }
.icon-16-weather-clear-night{ background-position: 0 -8002px;  }
.icon-16-weather-clear{ background-position: 0 -8043px;  }
.icon-16-weather-few-clouds-night{ background-position: 0 -8084px;  }
.icon-16-weather-few-clouds{ background-position: 0 -8125px;  }
.icon-16-weather-overcast{ background-position: 0 -8166px;  }
.icon-16-weather-severe-alert{ background-position: 0 -8207px;  }
.icon-16-weather-showers-scattered{ background-position: 0 -8248px;  }
.icon-16-weather-showers{ background-position: 0 -8289px;  }
.icon-16-weather-snow{ background-position: 0 -8330px;  }
.icon-16-weather-storm{ background-position: 0 -8371px;  }
.icon-16-window-new{ background-position: 0 -8412px;  }
.icon-16-x-office-address-book{ background-position: 0 -8453px;  }
.icon-16-x-office-calendar{ background-position: 0 -8494px;  }
.icon-16-x-office-document-template{ background-position: 0 -8535px;  }
.icon-16-x-office-document{ background-position: 0 -8576px;  }
.icon-16-x-office-drawing-template{ background-position: 0 -8617px;  }
.icon-16-x-office-drawing{ background-position: 0 -8658px;  }
.icon-16-x-office-presentation-template{ background-position: 0 -8699px;  }
.icon-16-x-office-presentation{ background-position: 0 -8740px;  }
.icon-16-x-office-spreadsheet-template{ background-position: 0 -8781px;  }
.icon-16-x-office-spreadsheet{ background-position: 0 -8822px;  }
